.form-header {
   position: absolute;
   left: 0;
   top: -200%;
   z-index: 2;
   width: 100%;
   display: flex;
   max-width: 100%;
   padding: 0 30px;
   transition: top 0.3s ease;
   @media (max-width: 425px) {
      display: block;
   }
   &.active {
      top: 80px;
   }

   &__search {
      height: 50px;
      padding: 30px 0 30px 15px;
      font-size: 22px;
      color: #000;
      border: 2px solid #ccc;
      width: 80%;
      font-style: italic;
      @media (max-width: 425px) {
         width: 100%;
      }
      &:focus {
         border-color: #95e1d3;
      }
   }
   &__btn {
      overflow: hidden;
      font-size: 18px;
      padding: 0 5px;
      text-overflow: ellipsis;
      width: 20%;
      text-transform: uppercase;
      @media (max-width: 425px) {
         width: 100%;
         height: 50px;
      }
   }
   @media (min-width: 767px) {
      display: none;
   }
}
