.hover-image {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0 -11px;
   padding: 90px 0 0 0;
   @media (max-width: 767px) {
      padding-top: 50px;
   }
   &__column {
      padding: 0 11px;
      flex: 0 1 33.333%;
      margin-bottom: 40px;
      @media (max-width: 767px) {
         flex: 0 1 100%;
         max-width: 400px;
      }
   }
   &__item {
      cursor: pointer;
      background-color: #95e1d3;
   }
   &__cart {
      position: relative;
      display: block;
      background: linear-gradient(to bottom, #f38181, #fce38a);
      transition: transform 0.1s linear;
      > img {
         transition: opacity 0.2s linear;
         max-width: 100%;
      }
      &:hover,
      &:active {
         transform: translate(-10px, -10px);
         > img {
            opacity: 0.1;
         }
         .about__icon,
         .about__text,
         .our-team__icons {
            opacity: 1;
         }
      }
   }
}
