.main-header {
   text-align: center;
   &__sup-title {
      font-size: 24px;
      margin-bottom: 26px;
   }
   &__title {
      @include fontSize(30, 27);
      text-transform: uppercase;
      padding-bottom: 40px;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         left: 50%;
         bottom: 0;
         transform: translateX(-50%);
         width: 60px;
         height: 3px;
         background-color: #e98382;
      }
      @media (max-width: 767px) {
         padding-bottom: 25px;
      }
   }
   &__text {
      padding-top: 45px;
      font-size: 15px;
      line-height: 24px;
      color: #999;
      @media (max-width: 767px) {
         padding-top: 32px;
      }
   }
}
